html,
body {
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: -12px;
  background: linear-gradient(to bottom right, #4d3b25, #291d1d, #100f0d);
  /* Viking scheme background */
}

.App {
  background: linear-gradient(to bottom right, #4d3b25, #291d1d, #100f0d);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  padding: 10px;
  color: white;
}

.App img {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  border: 1px solid black;
}

.container {
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timeInput {
  appearance: none;
  border: 1px solid #4d3b25;
  /* Viking scheme border color */
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.timeInput:focus {
  outline: none;
  border-color: #734a1e;
  /* Viking scheme focus color */
  box-shadow: 0 0 4px rgba(115, 74, 30, 0.5);
}

label {
  font-size: 15px;
  opacity: 0.7;
}

button {
  appearance: none;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(to bottom right, #7fb03b, #4b6922);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button:hover {
  background: linear-gradient(to bottom right, #59821f, #38570d);
  /* Darker green-ish color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(115, 122, 30, 0.5);
  /* Viking scheme focus color */
}

.inputWithLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

hr {
  width: 100%;
  margin-bottom: -8px;
  margin-top: -8px;
  opacity: 0.4;
}